<div id="main_container" class="p-2">
  <div id="header" class="flex flex-row">
    <div>
      <a routerLink="/" routerLinkActive="active">
        <fa-icon
          [icon]="faGooglePlay"
          class="text-cyan-600 dark:text-cyan-500 text-2xl"
        ></fa-icon>
        <span
          class="text-xl font-extrabold ml-2 text-cyan-600 dark:text-cyan-500"
          >PlayBook</span
        ><span class="text-xl ml-1 text-gray-500 dark:text-gray-400"
          >Notes</span
        >
      </a>
    </div>
    <div class="flex grow flex-row-reverse">
      <div class="relative group w-fit">
        <fa-icon
          [icon]="faBars"
          class="ml-5 text-gray-500 text-2xl cursor-pointer"
          (click)="toggleMenu()"
        >
        </fa-icon>
        <div id="dropdownMenu" (click)="toggleMenu()" class="absolute w-fit z-10 bg-gray-100 hidden md:hidden md:group-hover:block rounded -inset-x-16">
          <div class="w-fit shadow-lg">
            <div 
            (click)="toggleSort()"
            class="flex flex-row cursor-pointer px-6 py-3 hover:bg-slate-200 dark:bg-slate-800 dark:hover:bg-slate-900">
              <fa-icon
                [icon]="faArrowDownWideShort"
                class="text-gray-500 text-xl"
              >
              </fa-icon>
              <span class="ml-3">Sort</span>
            </div>
            <div
              (click)="toggleDarkMode()"
              class="flex flex-row cursor-pointer px-6 py-3 hover:bg-slate-200 dark:bg-slate-800 dark:hover:bg-slate-900"
            >
              <fa-icon
                [icon]="isDarkMode ? faSun : faMoon"
                class="text-gray-500 text-xl"
              >
              </fa-icon>
              <span class="ml-3">{{isDarkMode ? 'Bright' : 'Dark'}}</span>
            </div>
            <div 
            (click)="syncBooks()" 
            class="flex flex-row cursor-pointer px-6 py-3 hover:bg-slate-200 dark:bg-slate-800 dark:hover:bg-slate-900">
              <fa-icon
                [icon]="faRotate"
                class="text-gray-500 text-xl"
                [spin]="isSyncing"
                style="--fa-animation-duration: 0.7s"
              ></fa-icon>
              <span class="ml-3">Sync</span>
            </div>
          </div>
        </div>
      </div>
      <fa-icon
        [icon]="faSearch"
        class="ml-5 text-gray-500 text-xl cursor-pointer"
        (click)="search()"
      >
      </fa-icon>
    </div>
  </div>
  <div
    id="middle_container"
    class="bg-zinc-200 dark:bg-slate-800 mt-4"
  >
    <router-outlet></router-outlet>
  </div>
</div>
<div id="footer_container" class="mt-4 mb-2">
  <div class="text-center">
    <span class="text-sm text-gray-400"
      >Made by
      <a
        href="https://twitter.com/h4ck4life"
        class="text-cyan-700 dark:text-cyan-600"
        target="_blank"
        >@h4ck4life</a
      ></span
    >
  </div>
</div>
