<div id="main_container" class="p-2">
  <div id="header" class="flex flex-row">
    <div>
      <a routerLink="/" routerLinkActive="active">
        <fa-icon [icon]="faGooglePlay" class="text-cyan-700 dark:text-cyan-500 text-xl"></fa-icon>
        <span class="text-xl font-extrabold ml-2 text-cyan-700 dark:text-cyan-500">PlayBook</span><span class="text-xl ml-1 text-gray-500 dark:text-gray-400">Notes</span>
      </a>
    </div>
    <div class="grow text-right">
      <span *ngIf="isSyncing" class="text-gray-500 animate-pulse">Syncing..</span>
      <fa-icon 
      [icon]="faRotate" 
      size="lg" 
      class="cursor-pointer ml-3 text-gray-500" 
      (click)="syncBooks()"
      [spin]="isSyncing"
      style="--fa-animation-duration: 0.7s"
      ></fa-icon>
      <fa-icon [icon]="isDarkMode ? faSun : faMoon" class="ml-5 text-gray-500 text-xl cursor-pointer" (click)="toggleDarkMode()"></fa-icon>
    </div>
  </div>
  <div id="middle_container" class="bg-zinc-200 dark:bg-slate-900 rounded-lg shadow-sm mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
<div id="footer_container" class="mt-4 mb-2">
  <div class="text-center">
    <span class="text-sm text-gray-400">Made by @h4ck4life</span>
  </div>
</div>
