<div id="main_container" class="p-2">
  <div id="header" class="flex flex-col">
    <a routerLink="/" routerLinkActive="active">
      <fa-icon [icon]="faBookBookmark"></fa-icon>
      <span class="text-xl font-bold ml-2">Home</span>
    </a>
  </div>
  <div id="middle_container" class="bg-zinc-200 rounded shadow-sm mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
<div id="footer_container" class="mt-6">
  <div class="text-center">
    <span class="text-sm text-gray-400">Made by @h4ck4life</span>
  </div>
</div>
