<div *ngIf="hasLoaded; else elseBlock" class="md:flex md:flex-row md:flex-wrap">
  <div *ngFor="let note of notes.data" class="md:w-1/2">
    <div class="p-4" [id]="note.id">
      <div class="flex flex-row">
        <div class="border-r-2 border-cyan-600"></div>
        <div class="pl-2">
          <span>{{ note.getGoogleBookNote }}</span>
          <a [href]="note.noteUrl" target="_blank">
            <span class="ml-2 text-gray-400 dark:text-gray-500 text-xs"
              >(view)</span
            >
          </a>
          <span class="ml-2 text-gray-400 text-sm">{{
            note.googleBookDate | date : "MMMM d, y"
          }}</span>
        </div>
      </div>
      <div class="flex flex-row mt-3 dark:text-gray-500 text-gray-400">
        <div class="flex-grow">
          <span class="text-xs block">By {{ note.book?.bookAuthor }}</span>
          <span class="text-xs block">{{ note.book?.bookTitle }}</span>
        </div>
        <div class="flex-grow text-right">
          <a [href]="getFragmentUrl(note.id!)">
            <span class="text-xs cursor-pointer">#{{ note.id }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="p-4 text-center">
    <fa-icon
        [icon]="faCircleNotch"
        [spin]="true"
        style="--fa-animation-duration: 0.7s"
        class="text-gray-400 fa-2x"
      ></fa-icon>
  </div>
</ng-template>
<div *ngIf="hasData">
  <div class="p-4 text-center">
    <span class="p-4 text-center">No results.</span>
  </div>
</div>
