<div *ngIf="hasLoaded; else elseBlock" class="md:flex md:flex-row md:flex-wrap">
  <div *ngFor="let book of books.data" class="md:w-1/2">
    <div class="p-4">
      <div class="flex flex-row">
        <div class="flex-wrap w-1/6 pr-2">
          <img
            [src]="book.driveThumbnailLink || 'http://lgimages.s3.amazonaws.com/nc-sm.gif'"
            class="w-32 h-26 object-cover rounded"
            alt="Cover"
            loading="lazy"
          />
        </div>
        <div class="pl-2 w-5/6">
          <a [routerLink]="['/page/book', book.id]">
            <span>{{ book.bookTitle }}</span>
          </a>
          <span class="ml-2 text-cyan-600">{{ book.noteCount }} notes</span>
          <div class="mt-2 text-gray-400 dark:text-gray-500 text-xs">
            <span class="block">By {{ book.bookAuthor }},</span>
            <span class="block">{{
              book.driveModifiedTime | date : "MMMM d, y"
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="p-4 text-center">
    <fa-icon
        [icon]="faCircleNotch"
        [spin]="true"
        style="--fa-animation-duration: 0.7s"
        class="text-gray-400 fa-2x"
      ></fa-icon>
  </div>
</ng-template>
<div *ngIf="hasData">
  <div class="p-4 text-center">
    <span class="p-4 text-center">No results.</span>
  </div>
</div>
